meta( name = 'viewport', content = 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui')
title= title
script(src='/react/react.production.min.js')
script(src='/react/react-dom.production.min.js')
link(rel="stylesheet", href = '/css/index.css')
script(src='/onsen/js/onsenui.min.js')
script(src='/react/prop-types.min.js')
script(src='/react/react-onsenui.js')
link(rel="stylesheet", href = '/onsen/css/onsenui.min.css')
link(rel="stylesheet", href = '/onsen/css/onsen-css-components.min.css')
