html
  head
    include head.pug
    script(src='/videojs/video.min.js')
    link(rel="stylesheet", href = '/videojs/video-js.min.css')
  body
    div#main-container
    script(src='/js/build/play.js')
